<div class="quick-view-button">
    <a role="button" title="@T("SevenSpikes.QuickView.Admin.Settings.QuickViewButtonTitle")">@T("SevenSpikes.QuickView.Admin.Settings.QuickViewButtonText")</a>
</div>

