@model Nop.Plugin.Widgets.CampaignProgress.Models.ConfigurationModel
@{ Layout = "_ConfigurePlugin"; }

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsCampaignProgress" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Kampanya Ayarları</div>
            <div class="panel-body">
                @foreach (var f in new[] {
                    ("Title", "Kampanya Başlığı", Model.Title),
                    ("Description", "Açıklama", Model.Description),
                    ("GoalAmount", "Hedef Tutar", Model.GoalAmount.ToString()),
                    ("CurrentAmount", "Toplanan Tutar", Model.CurrentAmount.ToString()),
                    ("Currency", "Para Birimi Sembolü", Model.Currency),
                    ("EndDate", "Bitiş Tarihi (metin, örn: 30 Nisan 2026)", Model.EndDate),
                    ("ButtonText", "Buton Yazısı", Model.ButtonText),
                    ("ButtonUrl", "Buton Linki", Model.ButtonUrl),
                })
                {
                    <div class="form-group row">
                        <div class="col-md-3"><label>@f.Item2</label></div>
                        <div class="col-md-9">
                            <input type="text" name="@f.Item1" value="@f.Item3" class="form-control" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
